<p id="notice"><%= notice %></p>

<p>
  <strong>Fname:</strong>
  <%= @recruitement_form.fname %>
</p>

<p>
  <strong>Ingame name:</strong>
  <%= @recruitement_form.ingame_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @recruitement_form.email %>
</p>

<p>
  <strong>Age:</strong>
  <%= @recruitement_form.age %>
</p>

<p>
  <strong>Country:</strong>
  <%= @recruitement_form.country %>
</p>

<p>
  <strong>Steam:</strong>
  <%= @recruitement_form.steam_id %>
</p>

<p>
  <strong>Fb:</strong>
  <%= @recruitement_form.fb_id %>
</p>

<p>
  <strong>Mastery rank:</strong>
  <%= @recruitement_form.mastery_rank %>
</p>

<p>
  <strong>Join us:</strong>
  <%= @recruitement_form.join_us %>
</p>

<%= link_to 'Edit', edit_recruitement_form_path(@recruitement_form) %> |
<%= link_to 'Back', recruitement_forms_path %>
